body {
  background-color: #f8f8f8;
  margin-left: 320px;
}

.header__mobilemenu {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  font-family: TT Lakes;
  white-space: nowrap;
  
}

nav {
  display: flex;
  margin-top: 10px;
}

ul svg {
  vertical-align: middle;
}

.menu {
  margin-left: 40px;
  display: flex;
  overflow-x: scroll;
 
  white-space: nowrap;
}

.menu::-webkit-scrollbar{
    width: 0;
  }

.menu_button {
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
  color: #7e7e82;
  padding-left: 27px;
  padding-right: 27px;
  padding-top: 16px;
  padding-bottom: 16px;

  border-radius: 10px;

}

.sidebarmenu{
  position: absolute;
  left: 0px;
  width: 320px;
  height: 100%;
  background-color: white;
}

.sidebar__header--menu1 {
  display: flex;
  width: 40%;
  justify-content: space-between;
  cursor: pointer;
}

.sidebar__header--menu {
  margin-top: 10px;
  height: 40px;
  width: auto;
  display: flex;
  cursor: pointer;
}

.__close{
  display: none;
}

.sidebar__list {
  margin-top: 50px;
}

.sidebar__list1 {
  list-style-type: none;
  
}

.sidebar__list--item {
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: TT Lakes;
  cursor: pointer;
}

.sidebar__footer--icons{
  width: 60%;
  margin-left: 20px;
  display: flex;
  justify-content: space-around;

}

.sidebar__footer--adress{
  margin-left: 40px;
  font-family: TT Lakes;
}

.sidebar__footer{
  margin-top: 80%;
 
}

.sidebar__footer--icons__items{
  cursor:pointer;
}

.sidebar__header {
  display: flex;
  justify-content: space-around;
  height: 40px;
  
}

.menu_button:hover {
  border-color: aquamarine;
  background-color: white;
}

.info {
  /* position: absolute; */
  position:relative;
  margin-left: 40px;
  font-family: TT Lakes;
  
}

.info__otziv {
  margin-left: 27px;
  color: #7e7e82;
}

.info__block {
  display: flex;
}

.info__block--img {
  width: 48%;
  height: 100%;
  border-radius: 10px;
  margin-left: 10px;
}

.info__block--text {
  display: flex;
  flex-direction: column;

  width: 40%;
  margin-right: 10px;
}

.info__block--text__button {
  background-color: transparent;
  border-color: transparent;
  font-size: 20px;
}

.linetext{
  position:relative;
  width: 100%;
  height: 56px;
  background: linear-gradient(270deg, #FFF 0%,#F8F8F8 98%);
 margin-top: 50px;
 
 display: flex;
 
 align-items: center;
}

.content {
  position:relative;

  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
  margin-top: 40px;
}

img {
  background-color: transparent;
}

.swiper {
  width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.swiper-slide {
  grid-column: 3 span;
}

.content-card {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  min-height: 40px;
  

  font-family: sans-serif;
  background-color: white;
}

#more {
  display: none;
  grid-template-columns: repeat(3, 2fr);
  grid-column: 3 span;
  align-items: flex-start;
  gap: 10px;
}

#more1024 {
  display: grid;

  grid-template-columns: repeat(1, 1fr, 1fr);
  grid-column: 6 span;
  grid-auto-flow: column;
  gap: 10px;
}

.swiper-pagination {
  display: none;
}

#dots {
  position: absolute;
}

#btn {
  background-color: transparent;
  border-color: transparent;
  font-family: "TTLakes";
  margin-top: 20px;
}



@media screen and (max-width: 1025px) {

  body {
    
    margin-left: 0px;
  }

  .header__nmenu {
    display: none;
  }

  .header__mobilemenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    height: 88px;
    align-items: center;
  }

  .header__mobilemenu-left {
    width: 30%;
    display: flex;
    justify-content: space-around;
  }

  .header__mobilemenu-rigth {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  .info__block--img {
    display: block;
    width: 48%;
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
  }

  .menu_button {
    border-color: transparent;
    font-size: 16px;
    color: #7e7e82;
    padding-left: 27px;
    padding-right: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    
  }

  .menu {
    display: flex;
    overflow-x: scroll;
   
  }

  .sidebarmenu{
    margin-left:-320px;
    top:0px;
    box-shadow: 0 0 0 0;
    z-index: 10;
  }

  .__close{
    display: flex;
  }

  .sidebarmenu.active {
    transform: translateX(320px);
    transition: 2s;
    box-shadow: 0 0 0 0;
  }
  
  .sidebarmenu:not(:active) {
    transition: 1s;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .swiper-slide {
    grid-column: 4 span;
  }
  

  #more {
    display: none;
    grid-column: 4 span;
  }

  #more1024 {
    display: none;
    grid-template-columns: repeat(12, 1fr, 1fr);
    grid-column: 8 span;
  }


}

@media screen and (max-width: 426px) {
  .header__nmenu {
    display: none;
  }

  .a {
    display: none;
  }

  .header__mobilemenu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    height: 88px;
    align-items: center;
  }

  .header__mobilemenu-left {
    width: 60%;
    display: flex;
    justify-content: space-around;
  }

  .header__mobilemenu-rigth {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }

  .info__block {
    display: flex;
    flex-wrap: wrap;
  }

  .info__block--text {
    display: flex;
    flex-direction: column;

    width: 100%;
    margin-right: 10px;
  }

  .info__block--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .menu_button {
    border-color: transparent;
    font-size: 16px;
    color: #7e7e82;
    padding-left: 27px;
  
    padding-top: 16px;
    padding-bottom: 16px;
    border-radius: 10px;
  }

  .menu {
    display: flex;
    overflow-x: scroll;
    margin-left: 10px;
  }



  .header {
    margin-left: 10px;
    
  }

  .info {
    margin-left: 10px;
  
    
  }

  .info__block--img{
  
    padding-right: 50px;
  }

  .info__block--mobiletext{
    display: none;
  }

  .linetext{

    margin-right: 0%;
  }

  .slider-1 .swiper-wrapper {
    display: flex;
    column-gap: 0;
  }

  #btn {
    display: none;
  }

  .swiper-pagination {
    display: inline;
    position: absolute;
    top: 90px;
    background-color: transparent;
  }
}
